*{
	box-sizing:border-box;
}
body{
    padding:0;
    margin:0;
    background-color:#cccccc;
}
body::after{
	content:"";
	background:url(./img-logo.png:200x195);
	opacity:0.05;
	top:0;
	left:0;
	bottom:0;
	right:0;
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-position:center;
	background-size:30vh;
}